body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(https://img.magnific.com/foto-gratis/ilustracion-ojos-anime_23-2151660526.jpg?semt=ais_hybrid&w=740&q=80) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 46px;
    color: rgb(236, 81, 14);  text-align: center;
    }

h2{
    color: rgb(148, 12, 239)
    }

.colorPuntos{
    color: rgb(99, 36, 5);
}

.colorPuntos2{
    color: rgb(156, 5, 149);
}